h2 {
    font-family: "Verdana";
    font-size: 14pt;
    font-weight: bold;
    color: blue
}

ul {
    font-size: 12pt;
    color: green;
    display: inline-block;
    text-align: left;
}

tr {
    font-size: 12pt;
    color: green;
}

tr.title {
    font-weight: bold;
    color: red;
}