<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dynamic</title>
    <link rel="stylesheet" href="{{url_for('static', filename='sem1.css')}}">
</head>
<body>
<div>
    <h2>{{prod_title}}</h2>
    <table border="1">
        <tr class="title">
            <td>Название</td>
            <td>Единица измерения</td>
            <td>Цена</td>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product[0]}}</td>
            <td>{{product[1]}}</td>
            <td>{{product[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>