<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Category</title>
</head>
<body>
    <h2>Ввод параметров запроса:</h2>
    <form method="POST" action="">
        <label for="prod_category">Категория продуктов:</label>
        <select name="prod_category" id="prod_category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Отправить"/>
    </form>
</body>
</html>
